WebService/Cliente C++/GetGrafo2/GetGrafo2/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="No" nillable="true" type="tns:No" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNo" nillable="true" type="tns:ArrayOfNo" />
  <xs:complexType name="No">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="numNo" type="xs:int" />
      <xs:element minOccurs="0" name="x" type="xs:int" />
      <xs:element minOccurs="0" name="y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="No" nillable="true" type="tns:No" />
</xs:schema>