C++/Grafo3D/Grafo3D/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNoBD">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NoBD" nillable="true" type="tns:NoBD" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNoBD" nillable="true" type="tns:ArrayOfNoBD" />
  <xs:complexType name="NoBD">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="x" type="xs:int" />
      <xs:element minOccurs="0" name="y" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NoBD" nillable="true" type="tns:NoBD" />
  <xs:complexType name="ArrayOfArcoBD">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArcoBD" nillable="true" type="tns:ArcoBD" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArcoBD" nillable="true" type="tns:ArrayOfArcoBD" />
  <xs:complexType name="ArcoBD">
    <xs:sequence>
      <xs:element minOccurs="0" name="forca" type="xs:int" />
      <xs:element minOccurs="0" name="idPrim" type="xs:int" />
      <xs:element minOccurs="0" name="idRel" type="xs:int" />
      <xs:element minOccurs="0" name="idSec" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArcoBD" nillable="true" type="tns:ArcoBD" />
  <xs:complexType name="Utilizador">
    <xs:sequence>
      <xs:element minOccurs="0" name="morada" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nasc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nick" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tele" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Utilizador" nillable="true" type="tns:Utilizador" />
</xs:schema>