C++/Grafo3D/Grafo3D/tempuri.org.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://wvm022.dei.isep.ipp.pt/TesteWebService/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://wvm022.dei.isep.ipp.pt/TesteWebService/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://wvm022.dei.isep.ipp.pt/TesteWebService/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://wvm022.dei.isep.ipp.pt/TesteWebService/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllXY_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllXY" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllXY_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllXYResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllArcoBD_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllArcoBD" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllArcoBD_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllArcoBDResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetUtilizadorByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUtilizadorByID" />
  </wsdl:message>
  <wsdl:message name="IService_GetUtilizadorByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUtilizadorByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetTagsByUserID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTagsByUserID" />
  </wsdl:message>
  <wsdl:message name="IService_GetTagsByUserID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTagsByUserIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetHumorByUserID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHumorByUserID" />
  </wsdl:message>
  <wsdl:message name="IService_GetHumorByUserID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHumorByUserIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Add" message="tns:IService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddResponse" message="tns:IService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllXY">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllXY" message="tns:IService_GetAllXY_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllXYResponse" message="tns:IService_GetAllXY_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllArcoBD">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllArcoBD" message="tns:IService_GetAllArcoBD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllArcoBDResponse" message="tns:IService_GetAllArcoBD_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUtilizadorByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetUtilizadorByID" message="tns:IService_GetUtilizadorByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetUtilizadorByIDResponse" message="tns:IService_GetUtilizadorByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTagsByUserID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetTagsByUserID" message="tns:IService_GetTagsByUserID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetTagsByUserIDResponse" message="tns:IService_GetTagsByUserID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHumorByUserID">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetHumorByUserID" message="tns:IService_GetHumorByUserID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetHumorByUserIDResponse" message="tns:IService_GetHumorByUserID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DoWork" message="tns:IService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DoWorkResponse" message="tns:IService_DoWork_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IService/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllXY">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllXY" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllArcoBD">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllArcoBD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUtilizadorByID">
      <soap:operation soapAction="http://tempuri.org/IService/GetUtilizadorByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTagsByUserID">
      <soap:operation soapAction="http://tempuri.org/IService/GetTagsByUserID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHumorByUserID">
      <soap:operation soapAction="http://tempuri.org/IService/GetHumorByUserID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/IService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://wvm022.dei.isep.ipp.pt/TesteWebService/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>